form {
	width: 500px;
	
	height: 450px;
	display: inline-block;
	padding: 20px;
	border: solid #009999;
	margin: 10% 30%;
	
}
form h2 {
	text-align: center;
	color: #6394BC;
	margin-top: 12px;
	
}
.container {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	border: solid #009999;
	border-radius: 5px;
}
.icon {
	padding: 10px;
	background-color: #009999;
	color: white;
	min-width: 50px;
	text-align: center;
}
.input-field {
	width: 100%;
	padding: 10px;
	outline: none;
	
}
.input-field1 {
	width: 100%;
	padding: 20px 10px;
	outline: none;
	valign: center;
}
.input-field:focus {
	border: 2px solid black;
}
.country {
	width: 100px;
}
.button {
	background-color: #009999;
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	opacity: .6;
	
}
.button:hover {
	opacity: 1;
} 